.jumbotron{
    margin-top: 200px
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email-error {
    display: none;
    color: red;
}
#name-error {
    display: none; 
    color: red;

}
